@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="budSearch">
	<div>
		<h6>Search by Strain</h6>
		<input id="strainQuery" type="text" name="strainQuery" placeholder="strain" /><br />
		<input id="btnPriceSearch" type="submit" onclick="submitStrainForPriceSearch(strainQuery); return false;" value="find prices" /><br />
		<input id="radioConcentrate" type="radio" name="budType" value="concentrates" />concentrate<br />
		<input id="radioEdible" type="radio" name="budType" value="edibles" />edible<br />
		<input id="radioFlower" type="radio" name="budType" value="flowers" />flower<br />
		<input id="radioOther" type="radio" name="budType" value="other" />other<br />
	</div>
	<div>
	</div>
</form>
<div id="results">

</div>
<div id="results-raw">

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/chart.min.js"></script>
<script>
	function submitStrainForPriceSearch(strainId) {
		var strainId = $('#strainQuery').val();
		var type = $('input:radio[name=budType]:checked').val();
		var results;
		var dateAndPrice = [];
		var items = [];
		var quantityType;
		var date;
		var price;
		var chart;
		var chartData;
		var chartDates = [];
		var chartPrices = [];
		var ctx;
		$.getJSON('/ProductList/AveragePrice/' + strainId + '/' + type, function (data) {
			console.log('success');
			//console.log(data);
			$('#results-raw').append(JSON.stringify(data));
			$.each(data, function (key, val) {
				$.each(val, function (key, val) {
					quantityType = val.quantity;
					dateAndPrice.push('<ul>');
					dateAndPrice.push('<li>Date: ' + val.date + '</li>');
					dateAndPrice.push('<li>Price: ' + val.price + '</li>');
					dateAndPrice.push('</ul><br>');
					chartDates.push(val.date);
					chartPrices.push(val.price);
				});
				items.push('<strong>' + quantityType + '</strong>');
				items.push(dateAndPrice.join(''));
				$('#results').append('<h3>' + quantityType + '</h3><canvas id="' + quantityType + '" width="800" height="400"></canvas>');
				ctx = $('#' + quantityType).get(0).getContext("2d");
				chartData = {
					labels: chartDates,
					datasets: [
						{
							label: "My First dataset",
							fillColor: "rgba(220,220,220,0.2)",
							strokeColor: "rgba(220,220,220,1)",
							pointColor: "rgba(220,220,220,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(220,220,220,1)",
							data: chartPrices
						}
					]
				};
				chart = new Chart(ctx).Line(chartData);
				chartDates = [];
				chartPrices = [];
			});

			results = $('<ul/>', {
				'class': 'my-new-list',
				html: items.join('')
			});
			$('#results').append(results);
		});
	}
</script>